9387c6aaf8dfc2fd/flows.json
[{"id":"9387c6aaf8dfc2fd","type":"tab","label":"Diameter Authorisation Statemachine - Server","disabled":false,"info":"## Diameter Author/Authen Statemachine - Server\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\n41649c893949bd22@{ shape: \"circle\", label: \"Start\" } -- \"AAR\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"AAA; MULTI_ROUND_AUTH\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"AAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAR\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; MULTI_ROUND_AUTH\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; AUTHORIZATION_REJECTED\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"RAR\" --> 641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"ASR\" --> 9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" }\n9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" } -- \"ASA\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"RAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"RAA; !SUCCESS\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n```\n","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"ece075d819ea51bb","type":"group","z":"9387c6aaf8dfc2fd","name":"test: AAR - AAA (SUCCESS) - STR / start - idle - open - stop","style":{"label":true},"nodes":["f30de4a332472a62","800ccf96c3887095","64ad8f4a951321bc","3079875110cb3a97","f0ed77eeeb220ab5","51dd81fca016f1ea","a21a7e071b59f17c","d3f9941866074003","e65a005b0153e9b0","04a7a8f443cad9f8","1cc6fa8053e8fea5","7575c36e2fb9595d","f6b3531c6978ddab","b07d4d1e7fca28ab","a2b93a8e5ae7f478"],"x":209.6666259765625,"y":1609.333251953125,"w":1340,"h":580.666748046875},{"id":"fc20397d5ba374ed","type":"group","z":"9387c6aaf8dfc2fd","name":"test: AAR - AAA (SUCCESS) - ASR - STR / start - idle - open - disconnected - stop","style":{"label":true},"nodes":["4069ed12d9a1adeb","ad33e37354f0d298","42cfa0a56b6b7c5a","00919515dc7edda9","ae7828b888fec673","9c9e9efd3acb4365","6ea15e8e9a3c3007","af3aa76d9d2a328d","987376bd2266a128","fbb31c9a5fa483ae","47a3758a98289f24","23f86e15b224e246","5c972f837306a566","955ff03f9e499359","cceca469124b7a55","bca452e39403b5cd"],"x":212.95233154296875,"y":2203.833251953125,"w":1320,"h":548.166748046875},{"id":"ddc794a2b5abd8b5","type":"group","z":"9387c6aaf8dfc2fd","name":"test: AAR - AAA (SUCCESS) - ASR - ASA / start - idle - open - disconnected - idle","style":{"label":true},"nodes":["07b4ec8be505708f","0ed36406cdd18d14","8be51816ac7ddc47","f7e72b1602e58b22","6515ea8c2c6dc282","d9b7878dba66de62","0c6219a5cc5e8265","62c9873ce2e99cc4","e1e8a94214bcb18c","88084fe780ba77b4","da9c299dbb004f06","ea4484dddd8bfa6b","e0ed89f05b3d4f15","2daa5405297dacc7","1f03e444426fc4ec","c7b405a1fcac21dc","531904dbb0d2d8d3","9080dbdd533e1f84"],"x":217,"y":2780.5,"w":1540,"h":558.5},{"id":"6f9e25f550b5c235","type":"group","z":"9387c6aaf8dfc2fd","name":"test: AAR - AAA (SUCCESS) - RAR - RAA (SUCCESS) / start - idle - open - pending - open","style":{"label":true},"nodes":["81540dbd984d7fa1","c80437b65d09fe09","8266a5147408f269","a49cbbacf32851d3","9ed5d3302cd9d096","f442a5dfc08203ed","2efe470403a7fcb4","3a3d13d26e25b78d","335c7412744714fb","2b8e2acfe46777ee","2001a0c937d41b5a","78be8580d8e07cad","821638bffe3d9069","48f490ac9977600f","d57d75fde39b9771","f43d2a0e9fc305f9","7642046de4924b62","a936eb3f705e8207"],"x":225,"y":3378.5,"w":1540,"h":536.119218826294},{"id":"c0eb99130a3f7b9e","type":"group","z":"9387c6aaf8dfc2fd","name":"state machine definition","style":{"label":true},"nodes":["41649c893949bd22","4b9d114d09beb418","43f28daced65a485","81bc6eecdb17dee7","9482adf55132e602","641286613f05f45e"],"x":224,"y":73,"w":954,"h":602.375},{"id":"7a173fda0d5b97fe","type":"erlmodule","z":"9387c6aaf8dfc2fd","name":"","module_name":"diameter_authorization_server","code":"-module(diameter_authorization_server).\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = start, \n    Data = 0,\n    {ok,State,Data}.\n\n%%% handle event function\n\n\n\n%%\n%% Definition from 'Start' - #41649c893949bd22\n%%\n\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    start,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Idle' - #4b9d114d09beb418\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    idle,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    idle,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    idle,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Open' - #81bc6eecdb17dee7\n%%\n\nhandle_event(\n    {call, From},\n    <<\"ASR\">>,\n    open,\n    Data\n) ->\n    {next_state, disconnected, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"RAR\">>,\n    open,\n    Data\n) ->\n    {next_state, pending, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORIZATION_REJECTED\">>},\n    open,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    open,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Disconnected' - #9482adf55132e602\n%%\n\nhandle_event(\n    {call, From},\n    <<\"ASA\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Pending' - #641286613f05f45e\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"RAA\">>, <<\"SUCCESS\">>},\n    pending,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"RAA\">>, Success},\n    pending,\n    Data\n) when Success =/= <<\"SUCCESS\">> ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    pending,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Stop' - #43f28daced65a485\n%%\n\n%%\n%% Fall through.\nhandle_event({call, From} = _EventType, _Stiff, _State, Data) ->\n    ?KEEP_STATE(<<\"ignored\">>);\n\nhandle_event(_EventType, _Stiff, _State, Data) ->\n    {keep_state, Data}.\n","x":1112,"y":918.5,"wires":[]},{"id":"c7db1fb48babbc66","type":"erlstatemachine","z":"9387c6aaf8dfc2fd","name":"","scope":["7a173fda0d5b97fe"],"emit_on_state_change":false,"x":1112,"y":1025.5,"wires":[["85697e6f7ed921c9"]]},{"id":"5818473890843d7b","type":"inject","z":"9387c6aaf8dfc2fd","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":339,"y":882,"wires":[["c7db1fb48babbc66"]]},{"id":"e80fe19d6825c8cb","type":"inject","z":"9387c6aaf8dfc2fd","name":"AAA - Authorisation Refjected","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AUTHORIZATION_REJECTED","payloadType":"str","x":397.93943786621094,"y":1025.5759086608887,"wires":[["c7db1fb48babbc66"]]},{"id":"18acf770b76290f5","type":"inject","z":"9387c6aaf8dfc2fd","name":"AAA - Mutli Round trip authorisation","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MULTI_ROUND_AUTH","payloadType":"str","x":417.93943786621094,"y":1091.5759086608887,"wires":[["c7db1fb48babbc66"]]},{"id":"33fd9a3064c594a5","type":"inject","z":"9387c6aaf8dfc2fd","name":"AAA - Authorisation Successful","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SUCCESS","payloadType":"str","x":407.93943786621094,"y":1153.5759086608887,"wires":[["c7db1fb48babbc66"]]},{"id":"95760b44fa150807","type":"inject","z":"9387c6aaf8dfc2fd","name":"RAR - Re-Auth-Request","props":[{"p":"action","v":"RAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":513.7576141357422,"y":1277.303297996521,"wires":[["c7db1fb48babbc66"]]},{"id":"d08e1b26fb2bcbf5","type":"inject","z":"9387c6aaf8dfc2fd","name":"ASR - Abort-Session-Request","props":[{"p":"action","v":"ASR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":563.1717427571615,"y":1328.5355319976807,"wires":[["c7db1fb48babbc66"]]},{"id":"d39bfd1384ca4d96","type":"inject","z":"9387c6aaf8dfc2fd","name":"STA - Session Termination Answer","props":[{"p":"action","v":"STA","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":642.5858713785808,"y":1379.7677659988403,"wires":[["c7db1fb48babbc66"]]},{"id":"85697e6f7ed921c9","type":"debug","z":"9387c6aaf8dfc2fd","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1391,"y":1091,"wires":[]},{"id":"db6f16175116e8ba","type":"inject","z":"9387c6aaf8dfc2fd","name":"STR - Session Termination Response","props":[{"p":"action","v":"STR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":752,"y":1431,"wires":[["c7db1fb48babbc66"]]},{"id":"f30de4a332472a62","type":"erlstatemachine","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"","scope":["7a173fda0d5b97fe"],"emit_on_state_change":false,"x":767.6666259765625,"y":1791.833251953125,"wires":[["a21a7e071b59f17c"]]},{"id":"800ccf96c3887095","type":"inject","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":375.6666259765625,"y":1650.333251953125,"wires":[["f30de4a332472a62"]]},{"id":"64ad8f4a951321bc","type":"status","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"","scope":["f30de4a332472a62"],"x":687.6666259765625,"y":1872.333251953125,"wires":[["3079875110cb3a97"]]},{"id":"3079875110cb3a97","type":"switch","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1012.6666259765625,"y":2039.333251953125,"wires":[["d3f9941866074003"],["51dd81fca016f1ea"],["04a7a8f443cad9f8"],["a2b93a8e5ae7f478"],["b07d4d1e7fca28ab"]]},{"id":"f0ed77eeeb220ab5","type":"change","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"AAA - SUCCESS","rules":[{"p":"action","pt":"msg","t":"set","to":"AAA","tot":"str"},{"p":"payload","pt":"msg","t":"set","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1296.6666259765625,"y":1717.333251953125,"wires":[["1cc6fa8053e8fea5"]]},{"id":"51dd81fca016f1ea","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"open","count":1,"x":1256.6666259765625,"y":1979.7499389648438,"wires":[]},{"id":"a21a7e071b59f17c","type":"switch","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1012.6666259765625,"y":1791.833251953125,"wires":[["f0ed77eeeb220ab5"],["e65a005b0153e9b0"],["f6b3531c6978ddab"]]},{"id":"d3f9941866074003","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"idle","count":1,"x":1256.6666259765625,"y":1923.333251953125,"wires":[]},{"id":"e65a005b0153e9b0","type":"change","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"STR","rules":[{"p":"action","pt":"msg","t":"set","to":"STR","tot":"str"},{"p":"payload","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1256.6666259765625,"y":1791.333251953125,"wires":[["1cc6fa8053e8fea5"]]},{"id":"04a7a8f443cad9f8","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"stop","count":1,"x":1256.6666259765625,"y":2036.1666259765625,"wires":[]},{"id":"1cc6fa8053e8fea5","type":"link out","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"link out 1","mode":"link","links":["7575c36e2fb9595d"],"x":1508.6666259765625,"y":1791.833251953125,"wires":[]},{"id":"7575c36e2fb9595d","type":"link in","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"link in 1","links":["1cc6fa8053e8fea5"],"x":482.6666259765625,"y":1791.833251953125,"wires":[["f30de4a332472a62"]]},{"id":"f6b3531c6978ddab","type":"ut-assert-values","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"ok","tot":"str"},{"p":"_statem.action","pt":"msg","t":"eql","to":"STR","tot":"str"},{"p":"_statem.state_curr","pt":"msg","t":"eql","to":"stop","tot":"str"},{"p":"_statem.state_prev","pt":"msg","t":"eql","to":"open","tot":"str"}],"x":1286.6666259765625,"y":1859.333251953125,"wires":[[]]},{"id":"4069ed12d9a1adeb","type":"erlstatemachine","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"","scope":["7a173fda0d5b97fe"],"emit_on_state_change":false,"x":770.9523315429688,"y":2386.333251953125,"wires":[["ae7828b888fec673"]]},{"id":"ad33e37354f0d298","type":"inject","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":378.95233154296875,"y":2244.833251953125,"wires":[["4069ed12d9a1adeb"]]},{"id":"42cfa0a56b6b7c5a","type":"status","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"","scope":["4069ed12d9a1adeb"],"x":688.0951271057129,"y":2471.118908882141,"wires":[["47a3758a98289f24"]]},{"id":"00919515dc7edda9","type":"change","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"AAA - SUCCESS","rules":[{"p":"action","pt":"msg","t":"set","to":"AAA","tot":"str"},{"p":"payload","pt":"msg","t":"set","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1276.6666259765625,"y":2291.833251953125,"wires":[["6ea15e8e9a3c3007"]]},{"id":"ae7828b888fec673","type":"switch","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1016.9523315429688,"y":2386.333251953125,"wires":[["00919515dc7edda9"],["fbb31c9a5fa483ae"],["9c9e9efd3acb4365"],["987376bd2266a128"]]},{"id":"9c9e9efd3acb4365","type":"change","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"STR","rules":[{"p":"action","pt":"msg","t":"set","to":"STR","tot":"str"},{"p":"payload","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1236.6666259765625,"y":2391.833251953125,"wires":[["6ea15e8e9a3c3007"]]},{"id":"6ea15e8e9a3c3007","type":"link out","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"link out 2","mode":"link","links":["af3aa76d9d2a328d"],"x":1491.9523315429688,"y":2391.833251953125,"wires":[]},{"id":"af3aa76d9d2a328d","type":"link in","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"link in 2","links":["6ea15e8e9a3c3007"],"x":485.95233154296875,"y":2386.333251953125,"wires":[["4069ed12d9a1adeb"]]},{"id":"987376bd2266a128","type":"ut-assert-values","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"ok","tot":"str"},{"p":"_statem.action","pt":"msg","t":"eql","to":"STR","tot":"str"},{"p":"_statem.state_curr","pt":"msg","t":"eql","to":"stop","tot":"str"},{"p":"_statem.state_prev","pt":"msg","t":"eql","to":"disconnected","tot":"str"}],"x":1266.6666259765625,"y":2441.833251953125,"wires":[[]]},{"id":"fbb31c9a5fa483ae","type":"change","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"ASR","rules":[{"p":"action","pt":"msg","t":"set","to":"ASR","tot":"str"},{"p":"payload","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1236.6666259765625,"y":2341.833251953125,"wires":[["6ea15e8e9a3c3007"]]},{"id":"07b4ec8be505708f","type":"erlstatemachine","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"","scope":["7a173fda0d5b97fe"],"emit_on_state_change":false,"x":775,"y":2972,"wires":[["6515ea8c2c6dc282"]]},{"id":"0ed36406cdd18d14","type":"inject","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":383,"y":2830.5,"wires":[["07b4ec8be505708f"]]},{"id":"8be51816ac7ddc47","type":"status","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"","scope":["07b4ec8be505708f"],"x":692.1427955627441,"y":3056.785656929016,"wires":[["e0ed89f05b3d4f15"]]},{"id":"f7e72b1602e58b22","type":"change","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"AAA - SUCCESS","rules":[{"p":"action","pt":"msg","t":"set","to":"AAA","tot":"str"},{"p":"payload","pt":"msg","t":"set","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1509.71435546875,"y":2821.5,"wires":[["0c6219a5cc5e8265"]]},{"id":"6515ea8c2c6dc282","type":"switch","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1026,"y":2972,"wires":[["da9c299dbb004f06"],["88084fe780ba77b4"],["d9b7878dba66de62"],["ea4484dddd8bfa6b"]]},{"id":"d9b7878dba66de62","type":"change","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"ASA","rules":[{"p":"action","pt":"msg","t":"set","to":"ASA","tot":"str"},{"p":"payload","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360.7142944335938,"y":2977.5,"wires":[["0c6219a5cc5e8265"]]},{"id":"0c6219a5cc5e8265","type":"link out","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"link out 3","mode":"link","links":["62c9873ce2e99cc4"],"x":1716,"y":2977.5,"wires":[]},{"id":"62c9873ce2e99cc4","type":"link in","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"link in 3","links":["0c6219a5cc5e8265"],"x":490,"y":2972,"wires":[["07b4ec8be505708f"]]},{"id":"e1e8a94214bcb18c","type":"ut-assert-values","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"ok","tot":"str"},{"p":"_statem.action","pt":"msg","t":"eql","to":"ASA","tot":"str"},{"p":"_statem.state_curr","pt":"msg","t":"eql","to":"idle","tot":"str"},{"p":"_statem.state_prev","pt":"msg","t":"eql","to":"disconnected","tot":"str"}],"x":1499.71435546875,"y":2873.5,"wires":[[]]},{"id":"88084fe780ba77b4","type":"change","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"ASR","rules":[{"p":"action","pt":"msg","t":"set","to":"ASR","tot":"str"},{"p":"payload","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360.7142944335938,"y":2927.5,"wires":[["0c6219a5cc5e8265"]]},{"id":"da9c299dbb004f06","type":"switch","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"previous!= disconnected","property":"_statem.state_prev","propertyType":"msg","rules":[{"t":"neq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1244,"y":2827.5,"wires":[["f7e72b1602e58b22"],["e1e8a94214bcb18c"]]},{"id":"ea4484dddd8bfa6b","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"","x":1382,"y":3031,"wires":[]},{"id":"81540dbd984d7fa1","type":"erlstatemachine","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"","scope":["7a173fda0d5b97fe"],"emit_on_state_change":false,"x":783,"y":3566,"wires":[["2efe470403a7fcb4"]]},{"id":"c80437b65d09fe09","type":"inject","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":391,"y":3424.5,"wires":[["81540dbd984d7fa1"]]},{"id":"8266a5147408f269","type":"status","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"","scope":["81540dbd984d7fa1"],"x":700.1427955627441,"y":3650.785656929016,"wires":[["a49cbbacf32851d3"]]},{"id":"a49cbbacf32851d3","type":"switch","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1029,"y":3776.7857208251953,"wires":[["3a3d13d26e25b78d"],["f442a5dfc08203ed"],["48f490ac9977600f"],["f43d2a0e9fc305f9"],["821638bffe3d9069"]]},{"id":"9ed5d3302cd9d096","type":"change","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"AAA - SUCCESS","rules":[{"p":"action","pt":"msg","t":"set","to":"AAA","tot":"str"},{"p":"payload","pt":"msg","t":"set","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1427.71435546875,"y":3419.5,"wires":[["2b8e2acfe46777ee"]]},{"id":"f442a5dfc08203ed","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"open","count":"2","x":1258.7142944335938,"y":3729.5298047065735,"wires":[]},{"id":"2efe470403a7fcb4","type":"switch","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1029,"y":3566,"wires":[["9ed5d3302cd9d096"],["7642046de4924b62"],["335c7412744714fb"],["d57d75fde39b9771"]]},{"id":"3a3d13d26e25b78d","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"idle","count":"1","x":1248.7142944335938,"y":3681.5,"wires":[]},{"id":"335c7412744714fb","type":"change","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"RAA - SUCCESS","rules":[{"p":"action","pt":"msg","t":"set","to":"RAA","tot":"str"},{"p":"payload","pt":"msg","t":"set","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1408.7142944335938,"y":3571.5,"wires":[["2b8e2acfe46777ee"]]},{"id":"2b8e2acfe46777ee","type":"link out","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"link out 4","mode":"link","links":["2001a0c937d41b5a"],"x":1724,"y":3571.5,"wires":[]},{"id":"2001a0c937d41b5a","type":"link in","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"link in 4","links":["2b8e2acfe46777ee"],"x":498,"y":3566,"wires":[["81540dbd984d7fa1"]]},{"id":"78be8580d8e07cad","type":"change","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"ASR","rules":[{"p":"action","pt":"msg","t":"set","to":"RAR","tot":"str"},{"p":"payload","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":1489.71435546875,"y":3478.5,"wires":[["2b8e2acfe46777ee"]]},{"id":"821638bffe3d9069","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"pending","count":1,"x":1258.7142944335938,"y":3873.619218826294,"wires":[]},{"id":"48f490ac9977600f","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"stop","x":1248.7142944335938,"y":3777.559609413147,"wires":[]},{"id":"d57d75fde39b9771","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"","x":1390,"y":3625,"wires":[]},{"id":"f43d2a0e9fc305f9","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"disconnected","x":1278.7142944335938,"y":3825.5894141197205,"wires":[]},{"id":"7642046de4924b62","type":"switch","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"previous!= disconnected","property":"_statem.state_prev","propertyType":"msg","rules":[{"t":"neq","v":"pending","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1289,"y":3532,"wires":[["78be8580d8e07cad"],["a936eb3f705e8207"]]},{"id":"a936eb3f705e8207","type":"ut-assert-values","z":"9387c6aaf8dfc2fd","g":"6f9e25f550b5c235","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"ok","tot":"str"},{"p":"_statem.action","pt":"msg","t":"eql","to":"RAA","tot":"str"},{"p":"_statem.state_curr","pt":"msg","t":"eql","to":"open","tot":"str"},{"p":"_statem.state_prev","pt":"msg","t":"eql","to":"pending","tot":"str"},{"p":"_statem.payload","pt":"msg","t":"eql","to":"SUCCESS","tot":"str"}],"x":1517,"y":3522,"wires":[[]]},{"id":"e0ed89f05b3d4f15","type":"switch","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1026,"y":3196,"wires":[["1f03e444426fc4ec"],["2daa5405297dacc7"],["c7b405a1fcac21dc"],["531904dbb0d2d8d3"],["9080dbdd533e1f84"]]},{"id":"2daa5405297dacc7","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"open","count":"1","x":1243,"y":3144.7857093811035,"wires":[]},{"id":"1f03e444426fc4ec","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"idle","count":"2","x":1243,"y":3093.7142791748047,"wires":[]},{"id":"c7b405a1fcac21dc","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"stop","x":1243,"y":3195.8571395874023,"wires":[]},{"id":"531904dbb0d2d8d3","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"disconnected","count":"0","x":1273,"y":3246.928569793701,"wires":[]},{"id":"9080dbdd533e1f84","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"ddc794a2b5abd8b5","name":"pending","x":1253,"y":3298,"wires":[]},{"id":"47a3758a98289f24","type":"switch","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1016.9523315429688,"y":2609,"wires":[["23f86e15b224e246"],["5c972f837306a566"],["bca452e39403b5cd"],["cceca469124b7a55"],["955ff03f9e499359"]]},{"id":"23f86e15b224e246","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"idle","count":"1","x":1234,"y":2506.7142791748047,"wires":[]},{"id":"5c972f837306a566","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"open","count":"1","x":1234,"y":2557.7857093811035,"wires":[]},{"id":"955ff03f9e499359","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"pending","x":1244,"y":2711,"wires":[]},{"id":"cceca469124b7a55","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"disconnected","count":"0","x":1264,"y":2659.928569793701,"wires":[]},{"id":"bca452e39403b5cd","type":"ut-assert-success","z":"9387c6aaf8dfc2fd","g":"fc20397d5ba374ed","name":"stop","count":"1","x":1234,"y":2608.8571395874023,"wires":[]},{"id":"a2b93a8e5ae7f478","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"disconnected","x":1286.6666259765625,"y":2092.5833129882812,"wires":[]},{"id":"b07d4d1e7fca28ab","type":"ut-assert-failure","z":"9387c6aaf8dfc2fd","g":"ece075d819ea51bb","name":"pending","x":1266.6666259765625,"y":2149,"wires":[]},{"id":"41649c893949bd22","type":"mermaid-flowchart","z":"9387c6aaf8dfc2fd","g":"c0eb99130a3f7b9e","name":"Start","shape":"circle","wirecfgs":[{"arrow":"-->","id":"4b9d114d09beb418","name":"AAR"}],"x":300,"y":114,"wires":[["4b9d114d09beb418"]],"icon":"font-awesome/fa-circle"},{"id":"4b9d114d09beb418","type":"mermaid-flowchart","z":"9387c6aaf8dfc2fd","g":"c0eb99130a3f7b9e","name":"Idle","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"81bc6eecdb17dee7","name":"AAA; SUCCESS"},{"arrow":"-->","id":"4b9d114d09beb418","name":"AAA; MULTI_ROUND_AUTH"},{"arrow":"-->","id":"43f28daced65a485","name":"STR"}],"x":538,"y":114,"wires":[["43f28daced65a485","81bc6eecdb17dee7"]]},{"id":"43f28daced65a485","type":"mermaid-flowchart","z":"9387c6aaf8dfc2fd","g":"c0eb99130a3f7b9e","name":"Stop","shape":"dbl-circ","wirecfgs":[],"x":1102,"y":371.9375,"wires":[[]],"icon":"font-awesome/fa-stop-circle-o"},{"id":"81bc6eecdb17dee7","type":"mermaid-flowchart","z":"9387c6aaf8dfc2fd","g":"c0eb99130a3f7b9e","name":"Open","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"9482adf55132e602","name":"ASR"},{"arrow":"-->","id":"81bc6eecdb17dee7","name":"AAR"},{"arrow":"-->","id":"81bc6eecdb17dee7","name":"AAA; SUCCESS"},{"arrow":"-->","id":"81bc6eecdb17dee7","name":"AAA; MULTI_ROUND_AUTH"},{"arrow":"-->","id":"641286613f05f45e","name":"RAR"},{"arrow":"-->","id":"4b9d114d09beb418","name":"AAA; AUTHORIZATION_REJECTED"},{"arrow":"-->","id":"43f28daced65a485","name":"STR"}],"x":538,"y":634.375,"wires":[["4b9d114d09beb418","43f28daced65a485","641286613f05f45e","9482adf55132e602"]]},{"id":"9482adf55132e602","type":"mermaid-flowchart","z":"9387c6aaf8dfc2fd","g":"c0eb99130a3f7b9e","name":"Disconnected","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"4b9d114d09beb418","name":"ASA"},{"arrow":"-->","id":"43f28daced65a485","name":"STR"}],"x":865.5,"y":634.375,"wires":[["4b9d114d09beb418","43f28daced65a485"]]},{"id":"641286613f05f45e","type":"mermaid-flowchart","z":"9387c6aaf8dfc2fd","g":"c0eb99130a3f7b9e","name":"Pending","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"81bc6eecdb17dee7","name":"RAA; SUCCESS"},{"arrow":"-->","id":"4b9d114d09beb418","name":"RAA; !SUCCESS"},{"arrow":"-->","id":"43f28daced65a485","name":"STR"}],"x":405,"y":371.9375,"wires":[["43f28daced65a485","81bc6eecdb17dee7","4b9d114d09beb418"]]}]