ec2063ce417d6014/flows.json
[{"id":"ec2063ce417d6014","type":"tab","label":"Diameter Authorisation Statemachine - Client","disabled":false,"info":"## Diameter Author/Authen Statemachine\n\nSimple implementation of state machine that represents the authorisation/authentication states for a Diameter session.\n\n## Details\n\nThe <a class=\"ahl-group-only\" data-ids=\"0cefce8ca6962a44\">state machine definition</a> group defines the following flow chart diagram using the flow2uml node package.\n\nThe same group then also defines the code for the <a class=\"ahl-node-only\" data-ids=\"54e349a080dc8137\">diameter_statem_authorisation_two</a> module that contains the workings the statemachine that is defined using this <a class=\"ahl-node-only\" data-ids=\"7adc197f63c113b1\">[diameter_statem_authorisation_two]\t➝</a> node.\n\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\ne391be61858495a9@{ shape: \"circle\", label: \"Start\" } --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" } -- \"AAR\" --> 7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" } -- \"AAA; AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" } -- \"AAA; SUCCESS\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"RAR\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; MULTI_ROUND_AUTH\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; SUCCESS\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"ASR\" --> 4324a228efde6037@{ shape: \"rounded\", label: \"Disconnected\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n4324a228efde6037@{ shape: \"rounded\", label: \"Disconnected\" } -- \"STA\" --> 81adf2e8a4251297@{ shape: \"dbl-circ\", label: \"Done\" }\n```\n\n## Refrences\n\n- [RFC7155](https://datatracker.ietf.org/doc/html/rfc7155) - Diameter Network Access Server Application \n- [Flow2Uml](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-flow2uml) node package","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"97136865669922d9","type":"group","z":"ec2063ce417d6014","name":"client diameter state machine - use flow2uml to convert to mermaid and Erlang statem","style":{"label":true},"nodes":["809727e32e06a0b0","7d5de3d470e95963","4944d4c1702f0306","05fd613188670491","30dfccf90f40297b","e50c03ce4c15e6c7","d073e94e8cbad60f"],"x":210,"y":167,"w":1021,"h":161.5},{"id":"c816ef2b755b9390","type":"erlstatemachine","z":"ec2063ce417d6014","name":"","scope":["76785b02db64c696"],"emit_on_state_change":false,"x":866.333251953125,"y":608.6971435546875,"wires":[["fa917b9bf59eebdc"]]},{"id":"237dc62fe6f89dc3","type":"inject","z":"ec2063ce417d6014","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":258.3938293457031,"y":445.7575149536133,"wires":[["c816ef2b755b9390"]]},{"id":"fa917b9bf59eebdc","type":"debug","z":"ec2063ce417d6014","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1236.969638824463,"y":609.2426509857178,"wires":[]},{"id":"15d4c76f68c5f491","type":"inject","z":"ec2063ce417d6014","name":"AAA - Authorisation Refjected","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AUTHORISATION_REJECTED","payloadType":"str","x":320.33326721191406,"y":575.333423614502,"wires":[["c816ef2b755b9390"]]},{"id":"6eb548a6ae512051","type":"inject","z":"ec2063ce417d6014","name":"AAA - Mutli Round trip authorisation","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MULTI_ROUND_AUTH","payloadType":"str","x":315.33326721191406,"y":641.333423614502,"wires":[["c816ef2b755b9390"]]},{"id":"a1cca5ea779a581b","type":"inject","z":"ec2063ce417d6014","name":"AAA - Authorisation Successful","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SUCCESS","payloadType":"str","x":322.83326721191406,"y":703.333423614502,"wires":[["c816ef2b755b9390"]]},{"id":"6e4ea8d836c9cf1f","type":"inject","z":"ec2063ce417d6014","name":"RAR - Re-Auth-Request","props":[{"p":"action","v":"RAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":411.1514434814453,"y":827.0608129501343,"wires":[["c816ef2b755b9390"]]},{"id":"b3d484d258fe6e35","type":"inject","z":"ec2063ce417d6014","name":"ASR - Abort-Session-Request","props":[{"p":"action","v":"ASR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":493.60601806640625,"y":880.1515960693359,"wires":[["c816ef2b755b9390"]]},{"id":"21afe09258436049","type":"inject","z":"ec2063ce417d6014","name":"STA - Session Termination Answer","props":[{"p":"action","v":"STA","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":574.0605621337891,"y":934.9699783325195,"wires":[["c816ef2b755b9390"]]},{"id":"809727e32e06a0b0","type":"mermaid-state-state","z":"ec2063ce417d6014","g":"97136865669922d9","name":"idle","wirecfgs":[{"action":"AAR","id":"4944d4c1702f0306","payload":""}],"x":385,"y":208,"wires":[["4944d4c1702f0306"]]},{"id":"7d5de3d470e95963","type":"mermaid-state-start","z":"ec2063ce417d6014","g":"97136865669922d9","name":"start","wirecfgs":[{"action":"","id":"809727e32e06a0b0","payload":""}],"l":false,"x":251,"y":208,"wires":[["809727e32e06a0b0"]]},{"id":"4944d4c1702f0306","type":"mermaid-state-state","z":"ec2063ce417d6014","g":"97136865669922d9","name":"pending","wirecfgs":[{"action":"AAA","id":"30dfccf90f40297b","payload":"AUTHORISATION_REJECTED"},{"action":"AAA","id":"05fd613188670491","payload":"SUCCESS"}],"x":533,"y":287.5,"wires":[["05fd613188670491","30dfccf90f40297b"]]},{"id":"05fd613188670491","type":"mermaid-state-state","z":"ec2063ce417d6014","g":"97136865669922d9","name":"open","wirecfgs":[{"action":"AAA","id":"self","payload":"SUCCESS"},{"action":"RAR","id":"self","payload":""},{"action":"AAA","id":"self","payload":"MULTI_ROUND_AUTH"},{"action":"ASR","id":"e50c03ce4c15e6c7","payload":""},{"action":"AAA","id":"30dfccf90f40297b","payload":"AUTHORISATION_REJECTED"}],"x":737,"y":287.5,"wires":[["30dfccf90f40297b","e50c03ce4c15e6c7"]]},{"id":"30dfccf90f40297b","type":"mermaid-state-state","z":"ec2063ce417d6014","g":"97136865669922d9","name":"idle","wirecfgs":[],"x":881,"y":208,"wires":[[]]},{"id":"e50c03ce4c15e6c7","type":"mermaid-state-state","z":"ec2063ce417d6014","g":"97136865669922d9","name":"disconnected","wirecfgs":[{"action":"STA","id":"d073e94e8cbad60f","payload":""}],"x":1041,"y":287.5,"wires":[["d073e94e8cbad60f"]]},{"id":"d073e94e8cbad60f","type":"mermaid-state-end","z":"ec2063ce417d6014","g":"97136865669922d9","name":"done","l":false,"x":1190,"y":287.5,"wires":[]},{"id":"76785b02db64c696","type":"erlmodule","z":"ec2063ce417d6014","name":"diameter_authorization_client","module_name":"diameter_authorization_client","code":"-module(diameter_authorization_client).\n\n%%\n%% Code generated by Flow2UML Node @ https://flowhub.org/flow2uml\n%%\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = idle, \n    Data = 0,\n    {ok, State, Data}.\n\n%%% handle event function\n\n\n%%\n%% Definitions from 'idle' - #809727e32e06a0b0\n%%\n\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    idle,\n    Data\n) ->\n    {next_state, pending, Data, [{ reply, From, ok }]};\n\n%%\n%% Definitions from 'start' - #7d5de3d470e95963\n%%\n\n\n%\n% Ignoring un-named link to 'idle' - #809727e32e06a0b0\n%\n\n\n%%\n%% Definitions from 'pending' - #4944d4c1702f0306\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORISATION_REJECTED\">>},\n    pending,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    pending,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\n\n%%\n%% Definitions from 'open' - #05fd613188670491\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"RAR\">>,\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"ASR\">>,\n    open,\n    Data\n) ->\n    {next_state, disconnected, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORISATION_REJECTED\">>},\n    open,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\n\n%%\n%% Definitions from 'idle' - #30dfccf90f40297b\n%%\n\n\n%%\n%% Definitions from 'disconnected' - #e50c03ce4c15e6c7\n%%\n\nhandle_event(\n    {call, From},\n    <<\"STA\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, done, Data, [{ reply, From, ok }]};\n                        \n%% Fall through\nhandle_event(\n  {call, From},\n  _Action,\n  _CurrState,\n  Data\n) ->\n    ?KEEP_STATE(ignored);\n\n\n%%% Absolute fall through\nhandle_event(EventType, Stiff, State, Data) ->\n    io:format(\"TEST : ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    {keep_state, Data}.\n","x":845.9999237060547,"y":479.99997329711914,"wires":[]}]