ec2063ce417d6014/flows.json
[{"id":"ec2063ce417d6014","type":"tab","label":"Diameter Authorisation Statemachine - Client","disabled":false,"info":"## Diameter Author/Authen Statemachine\n\nSimple implementation of state machine that represents the authorisation/authentication states for a Diameter session.\n\n## Details\n\nThe <a class=\"ahl-group-only\" data-ids=\"0cefce8ca6962a44\">state machine definition</a> group defines the following flow chart diagram using the flow2uml node package.\n\nThe same group then also defines the code for the <a class=\"ahl-node-only\" data-ids=\"54e349a080dc8137\">diameter_statem_authorisation_two</a> module that contains the workings the statemachine that is defined using this <a class=\"ahl-node-only\" data-ids=\"7adc197f63c113b1\">[diameter_statem_authorisation_two]\t➝</a> node.\n\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\ne391be61858495a9@{ shape: \"circle\", label: \"Start\" } --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" } -- \"AAR\" --> 7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" } -- \"AAA; AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" } -- \"AAA; SUCCESS\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"RAR\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; MULTI_ROUND_AUTH\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; SUCCESS\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"ASR\" --> 4324a228efde6037@{ shape: \"rounded\", label: \"Disconnected\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n4324a228efde6037@{ shape: \"rounded\", label: \"Disconnected\" } -- \"STA\" --> 81adf2e8a4251297@{ shape: \"dbl-circ\", label: \"Done\" }\n```\n\n## Refrences\n\n- [RFC7155](https://datatracker.ietf.org/doc/html/rfc7155) - Diameter Network Access Server Application \n- [Flow2Uml](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-flow2uml) node package","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"21e8f20ef133532f","type":"group","z":"ec2063ce417d6014","name":"state machine definition","style":{"label":true},"nodes":["9cd61bab31e592fd","8a06d66a050b9a75","fdca6b7796676f1c","2ab96ce2b5b4771d","358b394fbbf9aef9","6f95f8500d668e60"],"x":251,"y":84.5,"w":820,"h":516.5},{"id":"9cd61bab31e592fd","type":"mermaid-flowchart","z":"ec2063ce417d6014","g":"21e8f20ef133532f","name":"Idle","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"7497b5cde23db3d6","name":"AAR"}],"x":693,"y":125.5,"wires":[["8a06d66a050b9a75"]]},{"id":"8a06d66a050b9a75","type":"mermaid-flowchart","z":"ec2063ce417d6014","g":"21e8f20ef133532f","name":"Pending","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"f85143342acaa6a2","name":"AAA; SUCCESS"},{"arrow":"-->","id":"55a2a011ee5c2445","name":"AAA; AUTHORISATION_REJECTED"}],"x":695,"y":321.25,"wires":[["9cd61bab31e592fd","2ab96ce2b5b4771d"]]},{"id":"fdca6b7796676f1c","type":"mermaid-flowchart","z":"ec2063ce417d6014","g":"21e8f20ef133532f","name":"Start","shape":"circle","wirecfgs":[{"arrow":"-->","id":"55a2a011ee5c2445","name":""}],"x":327,"y":128.5,"wires":[["9cd61bab31e592fd"]],"icon":"font-awesome/fa-circle"},{"id":"2ab96ce2b5b4771d","type":"mermaid-flowchart","z":"ec2063ce417d6014","g":"21e8f20ef133532f","name":"Open","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"f85143342acaa6a2","name":"RAR"},{"arrow":"-->","id":"f85143342acaa6a2","name":"AAA; MULTI_ROUND_AUTH"},{"arrow":"-->","id":"f85143342acaa6a2","name":"AAA; SUCCESS"},{"arrow":"-->","id":"55a2a011ee5c2445","name":"AAA; AUTHORISATION_REJECTED"},{"arrow":"-->","id":"4324a228efde6037","name":"ASR"}],"x":395,"y":419.5,"wires":[["358b394fbbf9aef9","9cd61bab31e592fd"]]},{"id":"358b394fbbf9aef9","type":"mermaid-flowchart","z":"ec2063ce417d6014","g":"21e8f20ef133532f","name":"Disconnected","shape":"rounded","wirecfgs":[{"arrow":"-->","id":"81adf2e8a4251297","name":"STA"}],"x":788,"y":417.25,"wires":[["6f95f8500d668e60"]]},{"id":"6f95f8500d668e60","type":"mermaid-flowchart","z":"ec2063ce417d6014","g":"21e8f20ef133532f","name":"Done","shape":"dbl-circ","wirecfgs":[],"x":995,"y":560,"wires":[[]],"icon":"font-awesome/fa-stop-circle"},{"id":"c816ef2b755b9390","type":"erlstatemachine","z":"ec2063ce417d6014","name":"","scope":["dece8deb8e213eee"],"emit_on_state_change":false,"x":952.3333282470703,"y":998.6971702575684,"wires":[["fa917b9bf59eebdc"]]},{"id":"237dc62fe6f89dc3","type":"inject","z":"ec2063ce417d6014","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":344.39390563964844,"y":835.7575416564941,"wires":[["c816ef2b755b9390"]]},{"id":"fa917b9bf59eebdc","type":"debug","z":"ec2063ce417d6014","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1322.9697151184082,"y":999.2426776885986,"wires":[]},{"id":"15d4c76f68c5f491","type":"inject","z":"ec2063ce417d6014","name":"AAA - Authorisation Refjected","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AUTHORISATION_REJECTED","payloadType":"str","x":406.3333435058594,"y":965.3334503173828,"wires":[["c816ef2b755b9390"]]},{"id":"6eb548a6ae512051","type":"inject","z":"ec2063ce417d6014","name":"AAA - Mutli Round trip authorisation","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MULTI_ROUND_AUTH","payloadType":"str","x":401.3333435058594,"y":1031.3334503173828,"wires":[["c816ef2b755b9390"]]},{"id":"dece8deb8e213eee","type":"erlmodule","z":"ec2063ce417d6014","name":"","module_name":"diameter_authorization_client","code":"-module(diameter_authorization_client).\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = idle, \n    Data = 0,\n    {ok,State,Data}.\n\n%%% handle event function\n\n\n%%\n%% Definition from 'start' - #e391be61858495a9\n%%\n\n\n%\n% Ignoring un-named link to 'idle' - #55a2a011ee5c2445\n%\n\n\n%%\n%% Definition from 'Idle' - #55a2a011ee5c2445\n%%\n\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    idle,\n    Data\n) ->\n    {next_state, pending, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'pending' - #7497b5cde23db3d6\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    pending,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORISATION_REJECTED\">>},\n    pending,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'open' - #f85143342acaa6a2\n%%\n\nhandle_event(\n    {call, From},\n    <<\"RAR\">>,\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORISATION_REJECTED\">>},\n    open,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"ASR\">>,\n    open,\n    Data\n) ->\n    {next_state, disconnected, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'disconnected' - #4324a228efde6037\n%%\n\nhandle_event(\n    {call, From},\n    <<\"STA\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, done, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'done' - #81adf2e8a4251297\n%%\n                        \n                        \n%% Fall through\nhandle_event(\n  {call, From},\n  _Action,\n  _CurrState,\n  Data\n) ->\n    ?KEEP_STATE(ignored);\n\n\n%%% Absolute fall through\nhandle_event(EventType, Stiff, State, Data) ->\n    io:format(\"TEST : ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    {keep_state, Data}.\n","x":944.6061019897461,"y":862.2425556182861,"wires":[]},{"id":"a1cca5ea779a581b","type":"inject","z":"ec2063ce417d6014","name":"AAA - Authorisation Successful","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SUCCESS","payloadType":"str","x":408.8333435058594,"y":1093.3334503173828,"wires":[["c816ef2b755b9390"]]},{"id":"6e4ea8d836c9cf1f","type":"inject","z":"ec2063ce417d6014","name":"RAR - Re-Auth-Request","props":[{"p":"action","v":"RAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":497.1515197753906,"y":1217.0608396530151,"wires":[["c816ef2b755b9390"]]},{"id":"b3d484d258fe6e35","type":"inject","z":"ec2063ce417d6014","name":"ASR - Abort-Session-Request","props":[{"p":"action","v":"ASR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":579.6060943603516,"y":1270.1516227722168,"wires":[["c816ef2b755b9390"]]},{"id":"21afe09258436049","type":"inject","z":"ec2063ce417d6014","name":"STA - Session Termination Answer","props":[{"p":"action","v":"STA","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":660.0606384277344,"y":1324.9700050354004,"wires":[["c816ef2b755b9390"]]}]